<div class="maintenance-profile-details-construction-approve">
  <div class="maintenance-profile-details-construction-approve-head">
    <div class="hw-simple-title">维修工程申请</div>
  </div>
  <div class="maintenance-profile-details-construction-approve-body">
    <div *ngIf="params.ApproveOrNot">
      <div class="hw-form-label">
        {{ language["ConstructionApplicationTime"] }}
      </div>
      <div>
        <input
          type="text"
          DateTimePicker
          [format]="'yyyy年MM月dd日'"
          [startView]="DateTimePickerView.month"
          [minView]="DateTimePickerView.month"
          [(date)]="params.MaintenanceDeadline"
          class=""
        />
      </div>
    </div>
    <div>
      <div class="hw-form-label">
        {{ language["ConstructionApprovalReason"] }}
      </div>
      <div>
        <textarea [(ngModel)]="params.ConstructionApprovalReason"></textarea>
      </div>
    </div>
  </div>
  <div class="maintenance-profile-details-construction-approve-foot">
    <button
      [ngClass]="{
        'hw-green-btn': agree,
        'hw-red-btn': !agree
      }"
      (click)="submit()"
    >
      <i
        [ngClass]="{
          'howell-icon-Check': agree,
          'howell-icon-Close': !agree
        }"
      ></i>
      {{ agree ? "同意" : "驳回" }}
    </button>
  </div>
</div>
