<div class="maintenance-profile-details-construction-approve">
  <div class="maintenance-profile-details-construction-approve-head">
    <div class="hw-simple-title">工程维修申请审批</div>
  </div>
  <div class="maintenance-profile-details-construction-approve-body">
    <div>
      <div *ngIf="!data || data.ConstructionState === 1">
        <!-- <section class="example-section">
          <mat-slide-toggle
            class="example-margin"
            [color]="'primary'"
            [(ngModel)]="params.ApproveOrNot"
          >
            <div *ngIf="!params.ApproveOrNot">不同意</div>
            <div *ngIf="params.ApproveOrNot">同意</div>
          </mat-slide-toggle>
        </section> -->
        <mat-radio-group [(ngModel)]="params.ApproveOrNot">
          <mat-radio-button [color]="'primary'" [value]="false">
            <div class="hw-simple-title">不同意</div>
          </mat-radio-button>
          <mat-radio-button [color]="'primary'" [value]="true">
            <div class="hw-simple-title">同意</div>
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div>
      <div class="hw-form-label">
        {{ language["ConstructionApprovalReason"] }}
      </div>
      <div *ngIf="!data || data.ConstructionState === 1">
        <textarea [(ngModel)]="params.ConstructionApprovalReason"></textarea>
      </div>
    </div>
    <div *ngIf="params.ApproveOrNot">
      <div class="hw-form-label">
        {{ language["ConstructionApplicationTime"] }}
      </div>
      <div *ngIf="!data || data.ConstructionState === 1">
        <input
          type="text"
          DateTimePicker
          [format]="'yyyy年MM月dd日'"
          [startView]="DateTimePickerView.month"
          [minView]="DateTimePickerView.month"
          [(date)]="params.MaintenanceDeadline"
          class=""
        />
      </div>
    </div>
  </div>
  <div
    class="maintenance-profile-details-construction-approve-foot"
    *ngIf="!data || !data.ConstructionState"
  >
    <button class="hw-green-btn">申请</button>
  </div>
</div>
