<div class="garbage-station-profile-partial-data-material">
  <mat-tab-group *ngIf="!!models">
    <mat-tab
      [label]="(item.CreationTime | date : 'YYYY年MM月dd日') ?? ''"
      *ngFor="let item of models; let i = index"
    >
      <div class="garbage-station-profile-partial-data-material-item">
        <garbage-profiles-material-record-details
          [model]="item"
          [nohead]="true"
        ></garbage-profiles-material-record-details>
      </div>
    </mat-tab>
  </mat-tab-group>

  <!-- <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <div>
      <div
        mat-tab-link
        class="mat-tab-label"
        [ngClass]="{
          'mat-tab-label-active': index === i
        }"
        *ngFor="let item of models; let i = index"
        (click)="ontabchange(i)"
        [active]="selected == item"
      >
        {{ (item.CreationTime | date : "YYYY年MM月dd日") ?? "" }}
      </div>
    </div>
  </nav>
  <mat-tab-nav-panel #tabPanel>
    <div class="garbage-station-profile-partial-data-material-item">
      <garbage-profiles-material-record-details
        [model]="selected"
        [nohead]="true"
      ></garbage-profiles-material-record-details>
    </div>
  </mat-tab-nav-panel>
</div> -->
</div>
