.garbage-station-profile-partial-data-material {
  width: 100%;
  height: 100%;

  .models {
    height: 60px;
    border: 1px solid #5e6ebf;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    &-title {
      width: 90px;
    }

    &-value {
      width: calc(100% - 90px);
      overflow-y: auto;
    }
  }

  .records {
    height: calc(100% - 60px);
    border: 1px solid #5e6ebf;
    padding: 10px;
    box-sizing: border-box;

    &-tab-group {
      height: calc(100% - 27px);
    }
  }


  ::ng-deep {
    .mat-tab-labels {
      max-width: 916px;
    }

    .mat-tab-label .mat-tab-label-content {
      font-size: 16px;
    }

    .mat-chip-list {
      overflow-x: auto;
      overflow-y: hidden;
    }
  }

  .mat-chip-item {
    display: flex;
    align-items: center;

    // &-title {}

    &-value {
      color: aqua;

      &.putin {
        color: #21E452
      }

      &.putout {
        color: #ffba00
      }
    }
  }

  // ::ng-deep {
  //   .mat-tab-labels {
  //     height: 44px;
  //     margin-bottom: 10px;
  //   }

  //   .mat-tab-body-wrapper {
  //     height: calc(100% - 54px);
  //   }

  //   .mat-tab-nav-panel {
  //     height: calc(100% - 45px);
  //     display: inline-flex;
  //   }

  //   .mat-tab-links {
  //     display: flex;
  //     justify-content: space-between;

  //     &>div {
  //       flex-wrap: nowrap;
  //       display: flex;
  //       overflow-y: auto;
  //       width: 916px;
  //     }
  //   }
  // }




  &-item {
    overflow: hidden;

    height: calc(100%);
  }


}
