<div class="modification-reason vertical-layout">
  <div class="hw-simple-title vertical-header">请输入修改原因</div>
  <div class="vertical-main">
    <div class="modification-content">
      <div class="content-area">
        <textarea [(ngModel)]="reason" (keydown)="down($event)"></textarea>
      </div>
      <div class="content-suffix">{{ reason.length }}/{{ maxLength }}</div>
    </div>
  </div>
  <div class="vertical-footer">
    <div class="btn-group">
      <button class="hw-red-btn" style="width: 80px" (click)="confirm()">
        确定
      </button>
    </div>
  </div>
</div>
