.garbage-station-profile-partial-data {
  &-head {
    height: 50px;
  }

  &-body {
    height: calc(100% - 50px);
  }

  &-foot {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
