<div
  class="garbage-station-profile-partial-data"
  *ngIf="!!model && model.PropertyId"
>
  <div class="garbage-station-profile-partial-data-head">
    <div class="hw-simple-title">
      {{ language[model.PropertyId] }}
    </div>
  </div>
  <div class="garbage-station-profile-partial-data-body">
    <div *ngIf="!!MaterialItems && MaterialItems.length > 0" class="materials">
      <garbage-station-profile-partial-data-material
        [profileId]="profileId"
        [models]="MaterialItems"
        (putout)="onputout($event)"
      >
      </garbage-station-profile-partial-data-material>
      <!-- <material-item-table [model]="MaterialItems"> </material-item-table> -->
    </div>
    <div *ngIf="!!Cameras && Cameras.length > 0" class="cameras">
      <garbage-station-profile-partial-data-cameras
        [models]="Cameras"
      ></garbage-station-profile-partial-data-cameras>
    </div>
    <div *ngIf="isnone" class="none">无记录</div>
  </div>
  <!-- <div class="garbage-station-profile-partial-data-foot">
    <button class="hw-green-btn" (click)="onok()">确定</button>
    <button class="hw-blue-btn" (click)="oncancel()">取消</button>
  </div> -->
</div>
