<div class="garbage-profiles-material-record-details" *ngIf="model">
  <div class="garbage-profiles-material-record-details-head">
    <div class="hw-simple-title">
      {{ model.MaterialRecordType | material_record_type_language }}记录
    </div>
  </div>
  <div class="garbage-profiles-material-record-details-body">
    <div class="form">
      <div class="form-list">
        <div class="form-list-item">
          <div class="form-list-item-title">记录时间:</div>
          <div class="form-list-item-value">
            <input
              readonly
              type="text"
              [value]="model.CreationTime | date : 'YYYY年MM月dd日 HH:mm:ss'"
            />
          </div>
        </div>
        <div
          class="form-list-item"
          *ngIf="model.MaterialRecordType === MaterialRecordType.putout"
        >
          <div class="form-list-item-title">档案名称:</div>
          <div class="form-list-item-value">
            <input readonly type="text" [value]="model.ProfileName ?? ''" />
          </div>
        </div>
        <div class="form-list-item">
          <div class="form-list-item-title">修改人员:</div>
          <div class="form-list-item-value">
            <input readonly type="text" [value]="model.UserLastName ?? ''" />
          </div>
        </div>
        <div class="form-list-item">
          <div class="form-list-item-title">备注:</div>
          <div class="form-list-item-value">
            <input readonly type="text" [value]="model.Description ?? ''" />
          </div>
        </div>

        <div class="form-list-item-rowtitle">照片凭证:</div>
        <div class="form-list-item-image">
          <div *ngFor="let item of model.ImageUrls">
            <howell-picture-control [contain]="true" [id]="item">
            </howell-picture-control>
          </div>
        </div>
      </div>
    </div>
    <div class="table">
      <div class="table-content">
        <table border="0" cellpadding="0" cellspacing="0">
          <colgroup>
            <col
              [ngStyle]="{ width: width }"
              *ngFor="let width of tableWidth"
            />
          </colgroup>
          <thead>
            <tr>
              <th [ngStyle]="{ width: '50%' }">名称</th>
              <th>
                {{
                  model.MaterialRecordType | material_record_type_language
                }}数量
              </th>
              <th>库存数量</th>
              <th class="scroll"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of model.MaterialItems">
              <td [ngStyle]="{ width: '50%' }">{{ item.Name }}</td>
              <td>{{ item.Number }}</td>
              <td>{{ item.Quantity }}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
