<div class="details-form">
  <div class="inner-form">
    <garbage-profile-details-dynamic
      [formId]="formId"
      [state]="formState"
      [stepIndex]="stepIndex"
      [cameras]="cameras"
    ></garbage-profile-details-dynamic>
  </div>
  <div class="hw-middle-btn-group">
    <button
      class="hw-blue-btn"
      type="button"
      (click)="clickPrev()"
      *ngIf="profileState != maxState"
    >
      上一步
    </button>
    <button
      class="hw-green-btn"
      type="button"
      *ngIf="formState == FormState.edit"
      (click)="clickSave()"
    >
      保存
    </button>
    <button
      class="hw-blue-btn"
      type="button"
      (click)="clickNext()"
      *ngIf="profileState != maxState"
    >
      下一步
    </button>
  </div>
</div>
<toast-window *ngIf="showModify" [showClose]="false">
  <modification-reason
    (confirmEvent)="clickConfirm($event)"
  ></modification-reason>
</toast-window>
