<div class="details-form">
  <form [formGroup]="formGroup" class="hw-form" #ngForm="ngForm">
    <div class="hw-form-group" style="flex-basis: 100%">
      <div class="title">
        <span class="hw-form-label">
          {{ language["ConstructionContact"] }}
        </span>
        <span class="hw-form-icon">*</span>
      </div>
      <div class="content">
        <input type="text" formControlName="ConstructionContact" />
      </div>
    </div>
    <div class="hw-form-group" style="flex-basis: 100%">
      <div class="title">
        <span class="hw-form-label">
          {{ language["ConstructionContactPhoneNo"] }}
        </span>
        <span class="hw-form-icon">*</span>
      </div>
      <div class="content">
        <input
          type="number"
          formControlName="ConstructionContactPhoneNo"
          (keydown)="down($event)"
        />
      </div>
    </div>
    <div class="hw-form-group" style="flex-basis: 100%">
      <div class="title">
        <span class="hw-form-label">
          {{ language["ConstructionDate"] }}
        </span>
        <span class="hw-form-icon">*</span>
      </div>
      <div class="content">
        <input
          type="text"
          readonly
          DateTimePicker
          [format]="'yyyy年MM月dd日'"
          [startView]="DateTimePickerView.month"
          [minView]="DateTimePickerView.month"
          [(date)]="ngForm.value.ConstructionDate"
        />
      </div>
    </div>
  </form>
  <div class="hw-middle-btn-group">
    <button
      class="hw-blue-btn"
      type="button"
      (click)="clickPrev()"
      *ngIf="profileState != maxState"
    >
      上一步
    </button>
    <button class="hw-green-btn" type="button" (click)="clickSave()">
      保存
    </button>
    <button
      class="hw-blue-btn"
      type="button"
      (click)="clickNext()"
      *ngIf="profileState != maxState"
    >
      下一步
    </button>
  </div>
</div>
<toast-window *ngIf="showModify" (closeEvent)="showModify = false">
  <modification-reason
    (confirmEvent)="clickConfirm($event)"
  ></modification-reason>
</toast-window>
