<div class="maintenance-form1 vertical-layout">
  {{ params | json }}
  <div class="hw-form">
    <div class="hw-form-group">
      <div class="title">
        <span class="hw-form-label"> 厢房档案名称 </span>
      </div>
      <div class="content">
        <select
          [disabled]="disabled"
          [(ngModel)]="params.GarbageStationProfileId"
          (ngModelChange)="changeProfile($event)"
        >
          <option
            [value]="profile.Id"
            *ngFor="let profile of garbageStationProfiles"
          >
            {{ profile["ProfileName"] }}
          </option>
        </select>
      </div>
    </div>

    <div class="hw-form-group">
      <div class="title">
        <span class="hw-form-label">
          {{ languageTool["GarbageStationName"] }}
        </span>
      </div>
      <div class="content">
        <input
          [disabled]="disabled"
          type="text"
          [ngModel]="selectedStationProfile?.GarbageStationName"
        />
      </div>
    </div>

    <div class="hw-form-group">
      <div class="title">
        <span class="hw-form-label">
          {{ languageTool["GarbageStationAddress"] }}
        </span>
      </div>
      <div class="content">
        <input
          [disabled]="disabled"
          type="text"
          [ngModel]="selectedStationProfile?.Address"
        />
      </div>
    </div>

    <div class="hw-form-group">
      <div class="title">
        <span class="hw-form-label">
          {{ languageTool["Province"] }}
        </span>
      </div>
      <div class="content">
        <input
          [disabled]="disabled"
          type="text"
          [ngModel]="selectedStationProfile?.Province"
        />
      </div>
    </div>
    <div class="hw-form-group">
      <div class="title">
        <span class="hw-form-label">
          {{ languageTool["City"] }}
        </span>
        <span class="hw-form-icon">*</span>
      </div>
      <div class="content">
        <input
          [disabled]="disabled"
          type="text"
          readonly
          [ngModel]="selectedStationProfile?.City"
        />
      </div>
    </div>
    <div class="hw-form-group">
      <div class="title">
        <span class="hw-form-label">
          {{ languageTool["County"] }}
        </span>
      </div>
      <div class="content">
        <input
          [disabled]="disabled"
          type="text"
          [ngModel]="selectedStationProfile?.County"
        />
      </div>
    </div>
    <div class="hw-form-group">
      <div class="title">
        <span class="hw-form-label">
          {{ languageTool["Street"] }}
        </span>
        <span class="hw-form-icon">*</span>
      </div>
      <div class="content">
        <input
          [disabled]="disabled"
          type="text"
          [ngModel]="selectedStationProfile?.Street"
        />
      </div>
    </div>
    <div class="hw-form-group">
      <div class="title">
        <span class="hw-form-label">
          {{ languageTool["Committee"] }}
        </span>
        <span class="hw-form-icon">*</span>
      </div>
      <div class="content">
        <input
          [disabled]="disabled"
          type="text"
          [ngModel]="selectedStationProfile?.Committee"
        />
      </div>
    </div>
    <div class="hw-form-group">
      <div class="title">
        <span class="hw-form-label">
          {{ languageTool["ProfileType"] }}
        </span>
      </div>
      <div class="content">
        <select [disabled]="disabled" [(ngModel)]="params.ProfileType">
          <option
            [ngValue]="profileType.Value"
            *ngFor="let profileType of this.sourceTool['ProfileType']"
          >
            {{ profileType.Name }}
          </option>
        </select>
      </div>
    </div>
    <div class="hw-form-group">
      <div class="title">
        <span class="hw-form-label">
          {{ languageTool["MaintenanceType"] }}
        </span>
      </div>
      <div class="content">
        <select [disabled]="disabled" [(ngModel)]="params.MaintenanceType">
          <option
            [ngValue]="maintenanceType.Value"
            *ngFor="let maintenanceType of this.sourceTool['MaintenanceType']"
          >
            {{ maintenanceType.Name }}
          </option>
        </select>
      </div>
    </div>

    <div class="hw-form-group" *ngIf="params.ProfileType == 1">
      <div class="title">
        <span class="hw-form-label">
          {{ languageTool["CustomerPhoneNo"] }}
        </span>
      </div>
      <div class="content">
        <input
          [disabled]="disabled"
          type="text"
          [(ngModel)]="params.CustomerPhoneNo"
        />
      </div>
    </div>
    <div class="hw-form-group" *ngIf="params.ProfileType == 1">
      <div class="title">
        <span class="hw-form-label">
          {{ languageTool["Customer"] }}
        </span>
      </div>
      <div class="content">
        <input
          [disabled]="disabled"
          type="text"
          [(ngModel)]="params.Customer"
        />
      </div>
    </div>
    <div class="hw-form-group">
      <div class="title">
        <span class="hw-form-label">
          {{ languageTool["MaintenanceDescription"] }}
        </span>
      </div>
      <div class="content">
        <input
          [disabled]="disabled"
          type="text"
          [(ngModel)]="params.MaintenanceDescription"
        />
      </div>
    </div>
    <div class="hw-form-group">
      <div class="title">
        <span class="hw-form-label">
          {{ languageTool["FaultDate"] }}
        </span>
      </div>
      <div class="content">
        <input
          type="text"
          [disabled]="disabled"
          DateTimePicker
          [(date)]="params.FaultDate"
        />
      </div>
    </div>
  </div>
</div>
