<div class="garbage-station-profile-table vertical-layout">
  <div class="garbage-station-profile-table-main vertical-main">
    <div class="garbage-station-profile-table-main-table" WheelHorizontalScroll>
      <table
        border="0"
        cellpadding="0"
        cellspacing="0"
        matSort
        (matSortChange)="sortData($event)"
      >
        <colgroup>
          <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
        </colgroup>
        <thead>
          <tr>
            <td
              *ngFor="let name of names"
              [mat-sort-header]="name"
              [disableClear]="true"
              [class]="name"
              [start]="name === 'UpdateTime' ? 'desc' : ''"
            >
              {{ language[name] }}
            </td>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of datas; let i = index"
            [ngClass]="{
              hover: this.hover === item,
              selected: this.selected === item
            }"
            (click)="onselected(item)"
            (mouseover)="onmouseover(item)"
            (mouseout)="onmouseout()"
          >
            <td *ngFor="let name of names" [class]="name">
              <div
                (click)="onitemclick($event, item, name)"
                [innerHTML]="item[name + 'View']"
              ></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="garbage-station-profile-table-main-lock">
      <table border="0" cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <td class="center" style="padding: 12px">操作</td>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of datas; let i = index"
            [ngClass]="{
              hover: this.hover === item,
              selected: this.selected === item
            }"
            (click)="onselected(item)"
            (mouseover)="onmouseover(item)"
            (mouseout)="onmouseout()"
          >
            <td class="operation center" style="padding: 12px">
              <div
                *ngIf="options[item.Id].details.visibled"
                [attr.disabled]="!options[item.Id].details.enabled"
                (click)="ondetails($event, item)"
              >
                <!-- <i class="howell-icon-task_misson"></i> -->
                <i class="mdi mdi-content-paste"></i>
              </div>
              <div
                title="分派维修工单"
                *ngIf="options[item.Id].distribute.visibled"
                [attr.disabled]="!options[item.Id].distribute.enabled"
                (click)="
                  ondistribute(
                    $event,
                    item,
                    options[item.Id].distribute.enabled
                  )
                "
              >
                <!-- <i class="howell-icon-Subsystem"></i> -->
                <i class="mdi mdi-worker"></i>
              </div>
              <div
                title="申请工程维修"
                *ngIf="options[item.Id].apply.visibled"
                [attr.disabled]="!options[item.Id].apply.enabled"
                (click)="onapply($event, item, options[item.Id].apply.enabled)"
              >
                <i class="mdi mdi-telegram"></i>
              </div>

              <div
                *ngIf="options[item.Id].approveyes.visibled"
                [attr.disabled]="!options[item.Id].approveyes.enabled"
                (click)="
                  onapproveyes(
                    $event,
                    item,
                    options[item.Id].approveyes.enabled
                  )
                "
                title="批准工程维修"
              >
                <!-- <i class="howell-icon-Check"></i> -->
                <i class="mdi mdi-comment-check-outline"></i>
              </div>
              <div
                *ngIf="options[item.Id].approveno.visibled"
                [attr.disabled]="!options[item.Id].approveno.enabled"
                (click)="
                  onapproveno($event, item, options[item.Id].approveno.enabled)
                "
                title="驳回工程维修"
              >
                <!-- <i class="howell-icon-Close"></i> -->
                <i class="mdi mdi-comment-remove-outline"></i>
              </div>
              <div
                *ngIf="options[item.Id].submit.visibled"
                [attr.disabled]="!options[item.Id].submit.enabled"
                (click)="
                  onsubmit($event, item, options[item.Id].submit.enabled)
                "
                title="递交工程维修单"
              >
                <!-- <i class="howell-icon-publish"></i> -->
                <i class="mdi mdi-arrow-up-bold-hexagon-outline"></i>
              </div>
              <div
                *ngIf="options[item.Id].complate.visibled"
                [attr.disabled]="!options[item.Id].complate.enabled"
                (click)="
                  onsubmit($event, item, options[item.Id].complate.enabled)
                "
                title="完成工单"
              >
                <i class="mdi mdi-content-save"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="garbage-station-profile-table-main-footer footer" *ngIf="page">
    <div class="footer-item">
      <div class="footer-info">
        <div class="info-item">当前数量: {{ page && page.RecordCount }}</div>
        <div class="info-item">总数量: {{ page && page.TotalRecordCount }}</div>
      </div>

      <app-paginator
        [length]="page ? page.TotalRecordCount : 0"
        [pageSize]="page ? page.PageSize : 0"
        [pagerCount]="5"
        [pageIndex]="page.PageIndex - 1"
        [showFirstLastButtons]="true"
        (page)="pageEvent($event)"
      >
      </app-paginator>
    </div>
  </div>

  <div class="loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>
