.garbage-station-profile-table {
  height: 100%;
  overflow-x: auto;


  table {
    td {
      div {
        width: min-content;

        b {
          color: #7586e0;
        }

      }
    }

    tr.selected {
      b {


        &:hover {
          color: white;
        }
      }
    }
  }
}
