<div class="maintenance-profile-index" *ngIf="!!model && show">
  <div class="maintenance-profiles">
    <div
      *ngFor="let item of model.profiles"
      class="card"
      [class]="'state-' + item.ProfileState"
      [routerLink]="['profile-manager']"
      [queryParams]="{ profile: item.ProfileState }"
    >
      <div class="hw-simple-title-1">
        {{ language["ProfileState-" + item.ProfileState] }}
      </div>
      <div
        class="hw-simple-title"
        [ngStyle]="{
          color: item.ProfileState | maintenance_profile_state_color_pipe
        }"
      >
        {{ item.Number }}
      </div>
    </div>
  </div>
  <div class="construction-statistics">
    <div
      *ngFor="let item of constructionItems"
      class="card construction"
      [class]="'construction-state-' + item.ConstructionState"
      [routerLink]="['profile-manager']"
      [queryParams]="{ construction: item.ConstructionState }"
    >
      <div class="hw-simple-title-1">
        {{ language["ConstructionState-" + item.ConstructionState] }}
      </div>
      <div
        class="hw-simple-title"
        [ngStyle]="{
          color:
            item.ConstructionState | maintenance_construction_state_color_pipe
        }"
      >
        {{ item.Number }}
      </div>
    </div>
  </div>
  <div class="card" [routerLink]="['profile-manager']">
    <div class="hw-simple-title-1">全部档案</div>
    <div class="hw-simple-title">{{ model.profileCount }}</div>
  </div>
</div>

<router-outlet *ngIf="!show"></router-outlet>
