.mat-expansion-panel {
  color: #cfd7ff;
  background-color: transparent;
  border: solid 1px #7a8de6;

  &-header-title {
    color: white;
  }
}

.mat-expansion-panel-header-description {
  color: #cfd7ff;
}

.mat-expansion-indicator::after {
  color: white;
}
