<div class="dynamic-form">
  <form [formGroup]="formGroup" class="hw-form">
    <div class="hw-form-group" style="flex-basis: 100%">
      <div class="title">
        <span class="hw-form-label"> </span>
      </div>
      <div class="content">
        <div class="btn-bar">
          <div
            class="btn-item"
            [class.active]="i == currentIndex"
            (click)="currentIndex = i"
            *ngFor="let camera of Cameras.controls; let i = index"
          >
            <span> 摄像机 {{ i + 1 }}</span>
            <div
              class="close-btn"
              (click)="deleteCamera(i, $event)"
              *ngIf="i != 0"
            >
              <i class="howell-icon-Close"></i>
            </div>
          </div>
          <div class="plus-btn" (click)="addCamera()">
            <i class="howell-icon-pluscircle"></i>
          </div>
        </div>
        <div formArrayName="Cameras" class="group-wrapper">
          <div *ngFor="let camera of Cameras.controls; let i = index">
            <form class="hw-form" [formGroupName]="i" *ngIf="i == currentIndex">
              <div class="hw-form-group">
                <div class="title">
                  <span class="hw-form-label"> {{ language["Name"] }} </span>
                  <span class="hw-form-icon">*</span>
                </div>
                <div class="content">
                  <input type="text" formControlName="Name" />
                </div>
              </div>
              <div class="hw-form-group">
                <div class="title">
                  <span class="hw-form-label"> {{ language["Model"] }} </span>
                  <span class="hw-form-icon">*</span>
                </div>
                <div class="content">
                  <input type="text" formControlName="Model" />
                </div>
              </div>
              <div class="hw-form-group">
                <div class="title">
                  <span class="hw-form-label">
                    {{ language["SerialNo"] }}
                  </span>
                  <span class="hw-form-icon">*</span>
                </div>
                <div class="content">
                  <input type="text" formControlName="SerialNo" />
                </div>
              </div>
              <div class="hw-form-group">
                <div class="title">
                  <span class="hw-form-label">
                    {{ language["Placement"] }}
                  </span>
                  <span class="hw-form-icon">*</span>
                </div>
                <div class="content">
                  <input type="text" formControlName="Placement" />
                </div>
              </div>
              <div class="hw-form-group">
                <div class="title">
                  <span class="hw-form-label">
                    {{ language["AccessServer"] }}
                  </span>
                  <span class="hw-form-icon">*</span>
                </div>
                <div class="content">
                  <input type="text" formControlName="AccessServer" />
                </div>
              </div>
              <div class="hw-form-group">
                <div class="title">
                  <span class="hw-form-label">
                    {{ language["Resolution"] }}
                  </span>
                  <span class="hw-form-icon">*</span>
                </div>
                <div class="content">
                  <input type="text" formControlName="Resolution" />
                </div>
              </div>
              <div class="hw-form-group">
                <div class="title">
                  <span class="hw-form-label">
                    {{ language["Bitrate"] }}
                  </span>
                  <span class="hw-form-icon">*</span>
                </div>
                <div class="content">
                  <input type="text" formControlName="Bitrate" />
                </div>
              </div>
              <div class="hw-form-group">
                <div class="title">
                  <span class="hw-form-label">
                    {{ language["StorageTime"] }}
                  </span>
                  <span class="hw-form-icon">*</span>
                </div>
                <div class="content">
                  <input type="text" formControlName="StorageTime" />
                </div>
              </div>
              <div class="hw-form-group">
                <div class="title">
                  <span class="hw-form-label">
                    {{ language["ActionEquipment"] }}
                  </span>
                  <span class="hw-form-icon">*</span>
                </div>
                <div class="content">
                  <input type="text" formControlName="ActionEquipment" />
                </div>
              </div>
              <div class="hw-form-group">
                <div class="title">
                  <span class="hw-form-label">
                    {{ language["AudioOutputState"] }}
                  </span>
                  <span class="hw-form-icon">*</span>
                </div>
                <div class="content">
                  <input type="text" formControlName="AudioOutputState" />
                </div>
              </div>
              <div class="hw-form-group">
                <div class="title">
                  <span class="hw-form-label">
                    {{ language["AudioVolume"] }}
                  </span>
                  <span class="hw-form-icon">*</span>
                </div>
                <div class="content">
                  <input type="text" formControlName="AudioVolume" />
                </div>
              </div>
              <div class="hw-form-group">
                <div class="title">
                  <span class="hw-form-label">
                    {{ language["AIModelType"] }}
                  </span>
                  <span class="hw-form-icon">*</span>
                </div>
                <div class="content">
                  <input type="text" formControlName="AIModelType" />
                </div>
              </div>
              <div class="hw-form-group">
                <div class="title">
                  <span class="hw-form-label">
                    {{ language["BsCameraId"] }}
                  </span>
                  <span class="hw-form-icon">*</span>
                </div>
                <div class="content">
                  <input type="text" formControlName="BsCameraId" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
