<div class="garbage-profiles-material-putin" *ngIf="model">
  <div class="hw-simple-title">物料入库</div>
  <div class="garbage-profiles-material-putin-content">
    <div class="garbage-profiles-material-putin-content-list">
      <div class="garbage-profiles-material-putin-content-list-item">
        <div class="garbage-profiles-material-putin-content-list-item-title">
          物料ID
        </div>
        <div class="garbage-profiles-material-putin-content-list-item-value">
          <input type="text" readonly [value]="model.Id" />
        </div>
      </div>
      <div class="garbage-profiles-material-putin-content-list-item">
        <div class="garbage-profiles-material-putin-content-list-item-title">
          名称
        </div>
        <div class="garbage-profiles-material-putin-content-list-item-value">
          <input type="text" readonly [value]="model.Name" />
        </div>
      </div>
      <div class="garbage-profiles-material-putin-content-list-item">
        <div class="garbage-profiles-material-putin-content-list-item-title">
          类别
        </div>
        <div class="garbage-profiles-material-putin-content-list-item-value">
          <input
            type="text"
            readonly
            [value]="(model.CategoryInfo | async)?.Name"
          />
        </div>
      </div>
      <div class="garbage-profiles-material-putin-content-list-item">
        <div class="garbage-profiles-material-putin-content-list-item-title">
          入库数量
        </div>
        <div class="garbage-profiles-material-putin-content-list-item-value">
          <input
            type="number"
            (touchSpinChange)="touchSpinChange($event)"
            appTouchSpin
            [(ngModel)]="value"
          />
        </div>
      </div>
      <div class="garbage-profiles-material-putin-content-list-item">
        <div class="garbage-profiles-material-putin-content-list-item-title">
          备注信息
        </div>
        <div class="garbage-profiles-material-putin-content-list-item-value">
          <input type="text" [(ngModel)]="description" />
        </div>
      </div>
      <div class="garbage-profiles-material-putin-content-list-item-rowtitle">
        存档照片
      </div>
      <div class="garbage-profiles-material-putin-content-list-image">
        <app-image-upload (upload)="onimage($event)"> </app-image-upload>
      </div>
    </div>
  </div>
  <div class="garbage-profiles-material-putin-foot">
    <button class="hw-green-btn" (click)="onok()">确定</button>
    <button class="hw-blue-btn" (click)="oncancel()">取消</button>
  </div>
</div>
