<div class="garbage-profiles-material-putin" *ngIf="model">
  <div class="hw-simple-title">物料入库</div>
  <div class="garbage-profiles-material-putin-body">
    <div class="garbage-profiles-material-putin-body-tree">
      <div class="garbage-profiles-material-putin-body-title">
        <div class="hw-simple-title">选择物料</div>
      </div>
      <div class="garbage-profiles-material-putin-body-tree-content">
        <howell-material-tree
          [defaultIds]="selectedIds"
          (selectTreeNode)="onTreeNodeSelected($event)"
        ></howell-material-tree>
      </div>
    </div>
    <div class="garbage-profiles-material-putin-body-content">
      <div class="garbage-profiles-material-putin-body-title">
        <div class="hw-simple-title">入库信息</div>
      </div>
      <div class="garbage-profiles-material-putin-body-content-item list">
        <div class="item-title">入库物料：</div>
        <div class="item-content">
          <div class="list-content">
            <div class="list-item" *ngFor="let item of materials">
              <div>{{ item.Name }}</div>
              <div class="operation">
                <div class="operation-number">
                  <input type="number" appTouchSpin [(number)]="item.Number" />
                </div>
                <div class="operation-close" (click)="onremove(item)">
                  <i class="howell-icon-Close"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="garbage-profiles-material-putin-body-content-item description"
      >
        <div class="item-title">备注：</div>
        <div class="item-content">
          <textarea [(ngModel)]="description" rows="3"></textarea>
        </div>
      </div>
      <div class="garbage-profiles-material-putin-body-content-item image">
        <div class="item-title">照片凭证：</div>
        <div class="item-content">
          <app-image-upload (upload)="onimage($event)"> </app-image-upload>
        </div>
      </div>
    </div>
  </div>

  <div class="garbage-profiles-material-putin-foot">
    <button class="hw-green-btn" (click)="onok()">确定</button>
    <button class="hw-blue-btn" (click)="oncancel()">取消</button>
  </div>
</div>
<!-- <div class="form">
  <div class="form-list">
    <div class="form-list-item">
      <div class="form-list-item-title">物料ID</div>
      <div class="form-list-item-value">
        <input type="text" readonly [value]="model.Id" />
      </div>
    </div>
    <div class="form-list-item">
      <div class="form-list-item-title">名称</div>
      <div class="form-list-item-value">
        <input type="text" readonly [value]="model.Name" />
      </div>
    </div>
    <div class="form-list-item">
      <div class="form-list-item-title">类别</div>
      <div class="form-list-item-value">
        <input
          type="text"
          readonly
          [value]="(model.CategoryInfo | async)?.Name"
        />
      </div>
    </div>
    <div class="form-list-item">
      <div class="form-list-item-title">入库数量</div>
      <div class="form-list-item-value">
        <input
          type="number"
          (touchSpinChange)="touchSpinChange($event)"
          appTouchSpin
          [(ngModel)]="value"
        />
      </div>
    </div>
    <div class="form-list-item">
      <div class="form-list-item-title">备注信息</div>
      <div class="form-list-item-value">
        <input type="text" [(ngModel)]="description" />
      </div>
    </div>
    <div class="form-list-item-rowtitle">存档照片</div>
    <div class="form-list-image">
      <app-image-upload (upload)="onimage($event)"> </app-image-upload>
    </div>
  </div>
</div> -->
