.maintenance-profile-details-construction-apply {

  &-body {
    padding: 10px 0;
    box-sizing: border-box;

    &-content {
      border: 1px solid #5e6ebf;
      padding: 10px;
      box-sizing: border-box;
    }
  }

  &-foot {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
