<div class="maintenance-profile-details-construction-apply">
  <div class="maintenance-profile-details-construction-apply-head">
    <div class="hw-simple-title">{{ language["ConstructionReason"] }}</div>
  </div>
  <div class="maintenance-profile-details-construction-apply-body">
    <textarea [(ngModel)]="params.ConstructionReason"></textarea>
    <div class="maintenance-profile-details-construction-apply-foot">
      <button class="hw-green-btn" (click)="submit()">
        <i class="mdi mdi-telegram"></i> 申请
      </button>
    </div>
  </div>
</div>
