<div class="profile-details vertical-layout">
  <div class="profile-details-header vertical-header">
    <div class="hw-simple-title">厢房档案--state {{ profileState }}</div>
  </div>
  <div class="profiles-details-body vertical-main">
    <ng-template [ngTemplateOutlet]="templateExpression"></ng-template>
  </div>
</div>

<ng-template #stepperTemp>
  <mat-stepper #stepper linear>
    <ng-container *ngFor="let label of labels; let i = index; let c = count">
      <mat-step [completed]="!!completedArr[i]">
        <ng-template matStepLabel>{{ label }} </ng-template>
        <ng-template
          [ngTemplateOutlet]="getTemplate(i)"
          [ngTemplateOutletContext]="{ index: i, $implicit: 'hello' }"
        ></ng-template>
      </mat-step>
    </ng-container> </mat-stepper></ng-template
><ng-template #tabTemp> tab </ng-template>
<ng-template #expansionTemp>expandsion</ng-template>

<ng-template #step1 #step let-value let-index="index">
  <garbage-profile-details-form1
    [formId]="formId"
    [stepIndex]="index"
    [state]="state"
    (next)="nextEvent($event, index)"
    (close)="closeEvent()"
  ></garbage-profile-details-form1>
</ng-template>
<ng-template #step2 #step let-value let-index="index">
  <garbage-profile-details-form2
    [formId]="formId"
    [stepIndex]="index"
    [state]="state"
    (next)="nextEvent($event, index)"
    (close)="closeEvent()"
    (previous)="previousEvent()"
  ></garbage-profile-details-form2>
</ng-template>
<ng-template #step3 #step let-value let-index="index"
  ><garbage-profile-details-form3
    [formId]="formId"
    [stepIndex]="index"
    [state]="state"
    (next)="nextEvent($event, index)"
    (close)="closeEvent()"
    (previous)="previousEvent()"
  ></garbage-profile-details-form3>
</ng-template>
<ng-template #step4 #step let-value let-index="index">
  <garbage-profile-details-form4
    [formId]="formId"
    [stepIndex]="index"
    [state]="state"
    (next)="nextEvent($event, index)"
    (close)="closeEvent()"
    (previous)="previousEvent()"
  ></garbage-profile-details-form4>
</ng-template>
<ng-template #step5 #step let-value let-index="index">
  <garbage-profile-details-form5
    [formId]="formId"
    [state]="state"
    [stepIndex]="index"
    (next)="nextEvent($event, index)"
    (close)="closeEvent()"
    (previous)="previousEvent()"
  ></garbage-profile-details-form5>
</ng-template>
