<div class="profile-details vertical-layout">
  <div class="profile-details-header vertical-header">
    <div class="hw-simple-title">厢房档案 {{ profileState }}</div>
  </div>
  <div class="profiles-details-body vertical-main">
    <ng-template [ngTemplateOutlet]="templateExpression"></ng-template>
  </div>
</div>

<ng-template #stepperTemp>
  <mat-stepper #stepper linear [selectedIndex]="selectedIndex">
    <ng-container *ngFor="let label of labels; let i = index; let c = count">
      <mat-step [completed]="!!completedArr[i]">
        <ng-template matStepLabel>{{ label }} </ng-template>
        <ng-template matStepContent>
          <ng-template
            [ngTemplateOutlet]="getTemplate(i)"
            [ngTemplateOutletContext]="{ index: i, $implicit: 'hello' }"
          ></ng-template
        ></ng-template>
      </mat-step>
    </ng-container> </mat-stepper></ng-template
><ng-template #tabTemp> tab </ng-template>
<ng-template #expansionTemp>expandsion</ng-template>

<ng-template #step1 #step let-value let-index="index">
  <garbage-profile-details-form1
    [formId]="formId"
    [state]="state"
    (next)="nextEvent(index)"
    (close)="closeEvent()"
  ></garbage-profile-details-form1>
</ng-template>
<ng-template #step2 #step let-value let-index="index">
  <garbage-profile-details-form2></garbage-profile-details-form2>
</ng-template>
<ng-template #step3 #step let-value let-index="index"
  ><garbage-profile-details-form3></garbage-profile-details-form3>
</ng-template>
<ng-template #step4 #step let-value let-index="index">
  <garbage-profile-details-form4></garbage-profile-details-form4>
</ng-template>
