.garbage-profiles-record-material-table {
  height: 100%;

  .img {
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    width: 140px;
    height: 80px !important;
    margin-right: 10px;
  }

  .material-chip-list {
    overflow-x: auto;
    overflow-y: hidden;

    .mat-chip-item {
      display: flex;
      align-items: center;

      // &-title {}

      &-value {
        color: aqua;

        &.putin {
          color: #21E452
        }

        &.putout {
          color: #ffba00
        }
      }
    }
  }
}
