<div class="garbage-profiles-record-material-table">
  <div class="garbage-profiles-record-material-table-main vertical-layout">
    <table border="0" cellpadding="0" cellspacing="0">
      <colgroup>
        <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
      </colgroup>
      <thead>
        <tr>
          <td>存档照片</td>
          <td>文档名称</td>
          <td>记录类型</td>
          <td>备注信息</td>
          <td class="operation center"><div>物料</div></td>
        </tr>
      </thead>
    </table>
    <div class="body vertical-main paged">
      <table *ngIf="datas" border="0" cellpadding="0" cellspacing="0">
        <colgroup>
          <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
        </colgroup>
        <tbody>
          <tr
            *ngFor="let item of datas; let i = index"
            [ngStyle]="{
              height: 'height:calc(100% / ' + page.PageCount + ')'
            }"
          >
            <td>{{ item.Id }}</td>
            <td>
              {{ item.ProfileName }}
            </td>
            <td>{{ item.MaterialRecordType }}</td>
            <td>
              {{ item.Description }}
            </td>

            <td class="operation center">
              <div (click)="oncheck($event, item)" class="center">
                <i class="howell-icon-modification"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      class="garbage-profiles-record-material-table-main-footer footer"
      *ngIf="page"
    >
      <div class="footer-item">
        <div class="footer-info">
          <div class="info-item">当前数量: {{ page && page.RecordCount }}</div>
          <div class="info-item">
            总数量: {{ page && page.TotalRecordCount }}
          </div>
        </div>

        <app-paginator
          [length]="page ? page.TotalRecordCount : 0"
          [pageSize]="page ? page.PageSize : 0"
          [pagerCount]="5"
          [pageIndex]="0"
          [showFirstLastButtons]="true"
          (page)="pageEvent($event)"
        >
        </app-paginator>
      </div>
    </div>
  </div>

  <div class="loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>
