<div class="maintenance-form1 vertical-layout">
  <form [formGroup]="formGroup" class="hw-form" #ngForm="ngForm">
    <div class="hw-form-group">
      <div class="title">
        <span class="hw-form-label">
          {{ languageTool["ProfileType"] }}
        </span>
      </div>
      <div class="content">
        <select formControlName="ProfileType">
          <option
            [ngValue]="profileType.Value"
            *ngFor="let profileType of this.sourceTool['ProfileType']"
          >
            {{ profileType.Name }}
          </option>
        </select>
      </div>
    </div>
    <div class="hw-form-group">
      <div class="title">
        <span class="hw-form-label">
          {{ languageTool["MaintenanceType"] }}
        </span>
      </div>
      <div class="content">
        <select formControlName="MaintenanceType">
          <option
            [ngValue]="maintenanceType.Value"
            *ngFor="let maintenanceType of this.sourceTool['MaintenanceType']"
          >
            {{ maintenanceType.Name }}
          </option>
        </select>
      </div>
    </div>
  </form>
  <div class="hw-middle-btn-group">
    <button class="hw-green-btn" type="button" (click)="clickPrev()">
      上一步
    </button>
    <button class="hw-green-btn" type="button" (click)="clickSave()">
      保存
    </button>
    <button class="hw-blue-btn" type="button" (click)="clickNext()">
      下一步
    </button>
  </div>
</div>
