<div class="maintenance-form maintenance-form4">
  <!-- {{ params | json }} -->
  <div class="hw-form">
    <div class="hw-form-group">
      <div class="title">
        <span class="hw-form-label"> 是否完成 </span>
      </div>
      <div class="content">
        <select
          [disabled]="disabled"
          [(ngModel)]="params.Repaired"
          (ngModelChange)="changeRepaired()"
        >
          <option [ngValue]="true">完成</option>
          <option [ngValue]="false">未完成</option>
        </select>
      </div>
    </div>

    <div class="hw-form-group">
      <div class="title">
        <span class="hw-form-label">
          {{ languageTool["FaultType"] }}
        </span>
      </div>
      <div class="content">
        <select [disabled]="disabled" [(ngModel)]="params.FaultType">
          <option value="undefined" style="display: none">请选择</option>
          <option
            [ngValue]="faultType.Value"
            *ngFor="let faultType of this.sourceTool['FaultType']"
          >
            {{ faultType.Name }}
          </option>
        </select>
      </div>
    </div>
    <div class="hw-form-group" style="width: 100%; flex-basis: 100%">
      <div class="title">
        <span class="hw-form-label">
          {{ languageTool["MaterialItems"] }}
        </span>
      </div>
      <div class="content" style="width: 100%">
        <mat-chip-list
          class="material-chip-list"
          #chipList
          WheelHorizontalScroll
          (click)="onchiplistclicked($event)"
          [placeholder]="'请选择'"
          [disabled]="disabled"
        >
          <mat-chip
            *ngFor="let material of params.MaterialItems"
            [title]="material.Name + ':' + material.Number"
          >
            <div class="mat-chip-item">
              <div class="mat-chip-item-title">{{ material.Name }}：</div>
              <div class="mat-chip-item-value">
                <b>{{ material.Number }}</b>
              </div>
            </div>
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <div class="hw-form-group" *ngIf="params.FaultType == 99">
      <div class="title">
        <span class="hw-form-label">
          {{ languageTool["FaultDescription"] }}
        </span>
      </div>
      <div class="content">
        <input type="text" [(ngModel)]="params.FaultDescription" />
      </div>
    </div>

    <div class="hw-form-group" style="flex-basis: 100%">
      <div class="title">
        <span class="hw-form-label">
          {{ languageTool["SceneImageUrls"] }}
        </span>
      </div>

      <div
        class="content"
        style="height: 250px; display: flex; flex-direction: column"
      >
        <div class="btn-bar">
          <div
            class="btn-item"
            [class.active]="i == currentIndex"
            (click)="currentIndex = i"
            *ngFor="let url of imageUrls; let i = index"
          >
            <span> 图片 {{ i + 1 }}</span>
            <div
              class="close-btn"
              (click)="deletePicture(i, $event)"
              *ngIf="i != 0 && !disabled"
            >
              <i class="howell-icon-Close"></i>
            </div>
          </div>
          <div class="plus-btn" (click)="addPicture()" *ngIf="!disabled">
            <i class="howell-icon-pluscircle"></i>
          </div>
        </div>

        <div style="flex-grow: 1">
          <ng-container *ngFor="let url of imageUrls; let i = index">
            <div
              *ngIf="i == currentIndex"
              style="height: 100%"
              [attr.id]="i"
              [style.pointer-events]="disabled ? 'none' : 'all'"
            >
              <howell-picture-upload-control
                [image]="url"
                (upload)="upload($event, i)"
              ></howell-picture-upload-control>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<toast-window *ngIf="showPutout" (closeEvent)="showPutout = false">
  <div style="width: 1200px; height: 700px">
    <garbage-profiles-material-putout
      (ok)="okHandler($event)"
      (cancel)="cancelHandler()"
      [onlyMaterials]="true"
      [items]="params.MaterialItems"
    ></garbage-profiles-material-putout>
  </div>
</toast-window>
