<div class="maintenance-details vertical-layout">
  <div class="maintenance-details-header vertical-header">
    <div class="hw-simple-title">维修工单档案</div>
  </div>
  <div class="maintenance-details-body vertical-main">
    <maintenance-profile-form1
      [(params)]="params.create"
      [formId]="data ? data.Id : ''"
    ></maintenance-profile-form1>
    <maintenance-profile-form2
      id="form2"
      *ngIf="data && data.ProfileState >= 1"
      [formId]="data.Id"
      [params]="params.distribute"
    ></maintenance-profile-form2>
    <maintenance-profile-form3
      *ngIf="data && data.ProfileState >= 2"
      [formId]="data.Id"
      [(params)]="params.constructionapply"
    ></maintenance-profile-form3>

    <maintenance-profile-form4
      *ngIf="data && data.ProfileState >= 3"
      [formId]="data.Id"
      [(params)]="params.constructionapprove"
    ></maintenance-profile-form4>

    <maintenance-profile-form5
      *ngIf="data && data.ProfileState >= 4"
      [formId]="data.Id"
      [(params)]="params.submit"
    ></maintenance-profile-form5>
  </div>
  <div class="maintenance-details-foot">
    <button class="hw-green-btn" *ngIf="!data" (click)="create(params.create)">
      <i class="howell-icon-plus"></i> 创建
    </button>

    <button
      class="hw-green-btn"
      *ngIf="data"
      (click)="submit(data.ProfileState)"
    >
      <i class="howell-icon-direction"></i>
      {{ data.ProfileState | maintenance_profile_state_step_pipe }}
    </button>
  </div>
</div>
