<div class="maintenance-form maintenance-form2">
  {{ params | json }}
  <div class="hw-form">
    <div class="hw-form-group">
      <div class="title">
        <span class="hw-form-label">
          {{ languageTool["MaintenanceUserId"] }}
        </span>
      </div>
      <div class="content">
        <select [(ngModel)]="params.MaintenanceUserId">
          <option [ngValue]="contract.Id" *ngFor="let contract of contracts">
            {{ contract.Name }}
          </option>
        </select>
      </div>
    </div>
    <div class="hw-form-group">
      <div class="title">
        <span class="hw-form-label">
          {{ languageTool["MaintenanceDeadline"] }}
        </span>
      </div>
      <div class="content">
        <input
          type="text"
          DateTimePicker
          [(date)]="params.MaintenanceDeadline"
        />
      </div>
    </div>
  </div>
</div>
