<div class="details-form">
  <form [formGroup]="formGroup" class="hw-form" #ngForm="ngForm">
    <div class="hw-form-group" style="flex-basis: 100%">
      <div class="title">
        <span class="hw-form-label">
          {{ language["BsStationId"] }}
        </span>
        <span class="hw-form-icon">*</span>
      </div>
      <div class="content">
        <input type="text" formControlName="BsStationId" />
      </div>
    </div>
    <div class="hw-form-group" style="flex-basis: 100%">
      <div class="title">
        <span class="hw-form-label">
          {{ language["Cameras"] }}
        </span>
      </div>
      <div class="content">
        <garbage-profile-details-dynamic
          [formId]="formId"
          [state]="state"
          [stepIndex]="stepIndex"
          [cameras]="cameras"
        ></garbage-profile-details-dynamic>
      </div>
    </div>
  </form>
  <div class="hw-middle-btn-group">
    <button class="hw-blue-btn" type="button" (click)="clickPrev()">
      上一步
    </button>
    <button class="hw-green-btn" type="button" (click)="clickSave()">
      保存
    </button>
    <!-- <button class="hw-blue-btn" type="button" (click)="clickNext()">
      下一步
    </button> -->
  </div>
</div>
