<div class="maintenance-profile-details-distribute">
  <div class="maintenance-profile-details-distribute-head">
    <div class="hw-simple-title">维修工单派单</div>
  </div>
  <div class="maintenance-profile-details-distribute-body">
    <maintenance-profile-form2 [params]="params"></maintenance-profile-form2>
  </div>
  <div class="maintenance-profile-details-distribute-foot">
    <button class="hw-green-btn" (click)="submit()">
      <i class="mdi mdi-worker"></i>
      派单
    </button>
  </div>
</div>
