.garbage-profiles-material-manager {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;

  @head-height: 100px;

  &-head {
    height: @head-height;


    &-operation {
      height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .filter {
        display: flex;
        justify-content: end;

        &-item {
          width: 200px;
          display: flex;
          color: #cfd7ff;
          align-items: center;
          margin-right: 10px;

          &-title {
            margin-right: 5px;
            width: 50px;
          }

          &-control {}
        }
      }
    }
  }

  &-content {
    width: 100%;
    height: calc(100% - @head-height);
  }
}
