<div class="garbage-profiles-material-manager">
  <div class="garbage-profiles-material-manager-head">
    <div class="hw-simple-title">物料档案管理</div>
    <div class="garbage-profiles-material-manager-head-operation">
      <div class="operation">
        <button class="hw-blue-btn" (click)="onrecord()">
          <i class="howell-icon-details"></i> 出入库记录
        </button>
        <button class="hw-green-btn" (click)="onputin()">
          <i class="howell-icon-inbox"></i> 入库
        </button>
        <!-- <button class="hw-cyan-btn" (click)="onputout()">
          <i class="howell-icon-inbox"></i> 出库
        </button> -->
      </div>
      <div class="filter">
        <div class="filter-item">
          <div class="filter-item-title">类别：</div>
          <div class="filter-item-control">
            <select [(ngModel)]="args.Category">
              <option [ngValue]="item.Id" *ngFor="let item of source.categorys">
                {{ item.Name }}
              </option>
            </select>
          </div>
        </div>
        <div class="filter-item">
          <div class="filter-item-title">名称：</div>
          <div class="filter-item-control">
            <input type="text" [(ngModel)]="args.Name" />
          </div>
        </div>
        <button class="hw-blue-btn" (click)="onsearch()">
          <i class="howell-icon-search"></i> 搜索
        </button>
      </div>
    </div>
  </div>
  <div class="garbage-profiles-material-manager-content">
    <garbage-profiles-material-table [load]="load">
    </garbage-profiles-material-table>
  </div>
</div>

<app-window [Model]="window.details" *ngIf="window.details.show">
  <garbage-profiles-material-details [model]="selected">
  </garbage-profiles-material-details>
</app-window>

<app-window
  [Model]="window.record"
  *ngIf="window.record.show"
  [style]="window.record.style"
>
  <garbage-profiles-material-record
    (details)="window.record.ondetails($event)"
    (picture)="onpicture($event)"
  >
  </garbage-profiles-material-record>
</app-window>

<app-window
  [Model]="window.putin"
  [style]="window.putin.style"
  *ngIf="window.putin.show"
>
  <garbage-profiles-material-putin
    (ok)="onputinok($event)"
    (cancel)="onwindowcancel()"
  >
  </garbage-profiles-material-putin>
</app-window>

<app-window
  [Model]="window.picture"
  [style]="window.picture.style"
  *ngIf="window.picture.show"
>
  <div class="picture-window">
    <howell-picture-control [id]="window.picture.urlId">
    </howell-picture-control>
  </div>
</app-window>

<app-window
  [Model]="window.record.details"
  [style]="window.record.details.style"
  *ngIf="window.record.details.show"
>
  <garbage-profiles-material-record-details
    [model]="window.record.details.model"
  >
  </garbage-profiles-material-record-details>
</app-window>
