<div class="maintenance-form maintenance-form3">
  <div class="hw-form">
    <div class="hw-form-group" style="flex-basis: 100%">
      <div class="title">
        <span class="hw-form-label">
          {{ languageTool["ConstructionReason"] }}
        </span>
      </div>
      <div class="content">
        <textarea
          style="min-height: 100px"
          [disabled]="disabled"
          [(ngModel)]="params.ConstructionReason"
        >
        </textarea>
      </div>
    </div>
  </div>
</div>
