<div class="maintenance-profile-manager">
  <div class="maintenance-profile-manager-head">
    <div>
      <div class="hw-simple-title">{{ title }}</div>
    </div>
    <div class="maintenance-profile-manager-head-operation">
      <div class="operation">
        <button class="hw-blue-btn" (click)="toexcel()">
          <i class="howell-icon-export"></i> 导出
        </button>
        <button class="hw-blue-btn" (click)="tosetting()">
          <i class="howell-icon-settingoutline"></i> 设置
        </button>
        <button class="hw-green-btn" (click)="tocreate()">
          <i class="howell-icon-plus"></i> 创建工单
        </button>

        <!-- <button class="hw-red-btn" (click)="todelete()" *ngIf="!!selected">
          <i class="howell-icon-delete-bin"></i> 删除
        </button> -->
        <button class="hw-cyan-btn" *ngIf="!!selected" (click)="tomodify()">
          <i class="howell-icon-modification"></i>
          {{ selected.ProfileState | maintenance_profile_state_step_pipe }}
        </button>
      </div>
      <div class="filter">
        <div class="filter-item">
          <div class="filter-item-title">{{ language["ProfileState"] }}：</div>
          <div class="filter-item-control">
            <select [(ngModel)]="args.enums['ProfileState']">
              <option [ngValue]="undefined">全部</option>
              <option
                *ngFor="let item of source.ProfileState"
                [ngValue]="item.Value"
              >
                {{ item.Name }}
              </option>
            </select>
          </div>
        </div>
        <div class="filter-item">
          <div class="filter-item-title">综合查询：</div>
          <div class="filter-item-control">
            <input type="text" [(ngModel)]="args.name" />
          </div>
        </div>

        <button class="hw-blue-btn" (click)="onsearch()">
          <i class="howell-icon-search"></i> 搜索
        </button>
        <button class="hw-blue-btn" (click)="tofilter()">
          <i class="mdi mdi-filter-outline"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="maintenance-profile-manager-content">
    <maintenance-profile-table
      [args]="args"
      [load]="load"
      [excel]="excel"
      (selectedChange)="onselected($event)"
      (itemclick)="onitemclick($event)"
    >
    </maintenance-profile-table>
  </div>
</div>

<app-window
  [Model]="window.setting"
  [style]="window.setting.style"
  *ngIf="window.setting.show"
>
  <maintenance-profile-setting
    (ok)="onsetting($event)"
    (cancel)="onwindowclose()"
  ></maintenance-profile-setting>
</app-window>
<app-window
  [Model]="window.details"
  [style]="window.details.style"
  *ngIf="window.details.show"
>
  <maintenance-profile-details-manager
    [data]="window.details.data"
  ></maintenance-profile-details-manager>
</app-window>
<app-window
  [Model]="window.filter"
  [style]="window.filter.style"
  *ngIf="window.filter.show"
>
  <maintenance-profile-filter
    [(args)]="args"
    (ok)="onfilter($event)"
    (cancel)="onwindowclose()"
  ></maintenance-profile-filter>
</app-window>

<app-window
  [Model]="window.partial"
  [style]="window.partial.style"
  *ngIf="window.partial.show"
>
  <garbage-station-profile-partial-data
    [model]="window.partial.model"
    [profileId]="window.partial.id"
  ></garbage-station-profile-partial-data>
</app-window>

<app-window
  [Model]="window.picture.multiple"
  [style]="window.picture.multiple.style"
  *ngIf="window.picture.multiple.show"
>
  <howell-picture-control-multiple [ids]="window.picture.multiple.ids">
  </howell-picture-control-multiple>
</app-window>
