<div class="maintenance-profile-manager">
  <div class="maintenance-profile-manager-head">
    <div>
      <div class="hw-simple-title">{{ title }}</div>
    </div>
    <div class="maintenance-profile-manager-head-operation">
      <div class="operation">
        <button class="hw-blue-btn" (click)="toexcel()">
          <i class="howell-icon-export"></i> 导出
        </button>
        <button class="hw-blue-btn" (click)="tosetting()">
          <i class="howell-icon-settingoutline"></i> 设置
        </button>
        <button class="hw-green-btn" (click)="tocreate()" *ngIf="cancreate">
          <i class="howell-icon-plus"></i> 创建工单
        </button>
      </div>
      <div class="filter">
        <div class="filter-item">
          <div class="filter-item-title">{{ language["ProfileState"] }}：</div>
          <div class="filter-item-control">
            <select [(ngModel)]="args.enums['ProfileState']">
              <option [ngValue]="undefined">全部</option>
              <option
                *ngFor="let item of source.ProfileState"
                [ngValue]="item.Value"
              >
                {{ item.Name }}
              </option>
            </select>
          </div>
        </div>
        <div class="filter-item">
          <div class="filter-item-title">综合查询：</div>
          <div class="filter-item-control">
            <input type="text" [(ngModel)]="args.name" />
          </div>
        </div>

        <button class="hw-blue-btn" (click)="onsearch()">
          <i class="howell-icon-search"></i> 搜索
        </button>
        <button class="hw-blue-btn" (click)="tofilter()">
          <i class="mdi mdi-filter-outline"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="maintenance-profile-manager-content">
    <maintenance-profile-table
      [args]="args"
      [load]="load"
      [excel]="excel"
      (selectedChange)="onselected($event)"
      (itemclick)="onitemclick($event)"
      (details)="todetails($event)"
      (distribute)="todistribute($event)"
      (apply)="toapply($event)"
      (approveyes)="toapprove($event, true)"
      (approveno)="toapprove($event, false)"
      (submit)="tosubmit($event)"
    >
    </maintenance-profile-table>
  </div>
</div>

<app-window
  [Model]="window.setting"
  [style]="window.setting.style"
  *ngIf="window.setting.show"
>
  <maintenance-profile-setting
    (ok)="onsetting($event)"
    (cancel)="onwindowclose()"
  ></maintenance-profile-setting>
</app-window>
<app-window
  [Model]="window.details"
  [style]="window.details.style"
  *ngIf="window.details.show"
>
  <maintenance-profile-details-manager
    [data]="window.details.data"
    (cancel)="onwindowclose()"
    (ok)="ondetailsok()"
  ></maintenance-profile-details-manager>
</app-window>
<app-window
  [Model]="window.filter"
  [style]="window.filter.style"
  *ngIf="window.filter.show"
>
  <maintenance-profile-filter
    [(args)]="args"
    (ok)="onfilter($event)"
    (cancel)="onwindowclose()"
  ></maintenance-profile-filter>
</app-window>

<app-window
  [Model]="window.partial"
  [style]="window.partial.style"
  *ngIf="window.partial.show"
>
  <garbage-station-profile-partial-data
    [model]="window.partial.model"
    [profileId]="window.partial.id"
  ></garbage-station-profile-partial-data>
</app-window>

<app-window
  [Model]="window.picture.multiple"
  [style]="window.picture.multiple.style"
  *ngIf="window.picture.multiple.show"
>
  <howell-picture-control-multiple [ids]="window.picture.multiple.ids">
  </howell-picture-control-multiple>
</app-window>

<app-window
  [Model]="window.create"
  [style]="window.create.style"
  *ngIf="window.create.show"
>
  <maintenance-profile-details-create (ok)="onwindowclose(true)">
  </maintenance-profile-details-create>
</app-window>
<app-window
  [Model]="window.distribute"
  [style]="window.distribute.style"
  *ngIf="window.distribute.show"
>
  <maintenance-profile-details-distribute
    [profileId]="window.distribute.id"
    (ok)="onwindowclose(true)"
  >
  </maintenance-profile-details-distribute>
</app-window>
<app-window
  [Model]="window.construction.apply"
  [style]="window.construction.apply.style"
  *ngIf="window.construction.apply.show"
>
  <maintenance-profile-details-construction-apply
    [profileId]="window.construction.apply.id"
    (ok)="onwindowclose(true)"
  >
  </maintenance-profile-details-construction-apply>
</app-window>

<app-window
  [Model]="window.construction.approve"
  [style]="window.construction.approve.style"
  *ngIf="window.construction.approve.show"
>
  <maintenance-profile-details-construction-approve
    [profileId]="window.construction.approve.id"
    [agree]="window.construction.approve.agree"
    (ok)="onwindowclose(true)"
  >
  </maintenance-profile-details-construction-approve>
</app-window>
<app-window
  [Model]="window.submit"
  [style]="window.submit.style"
  *ngIf="window.submit.show"
>
  <maintenance-profile-details-submit
    [profileId]="window.submit.id"
    (ok)="onwindowclose(true)"
  >
  </maintenance-profile-details-submit>
</app-window>

<app-window> </app-window>
