<div class="garbage-profiles-material-record">
  <div class="garbage-profiles-material-record-head">
    <app-tab-title [title]="'物料记录'"> </app-tab-title>
  </div>
  <div class="garbage-profiles-material-record-content">
    <div class="garbage-profiles-material-record-content-filter">
      <div class="filter-item">
        <div class="filter-item-title">开始时间：</div>
        <div class="filter-item-control">
          <input
            type="text"
            DateTimePicker
            [format]="'yyyy年MM月dd日 HH:mm'"
            [startView]="DateTimePickerView.month"
            [minView]="DateTimePickerView.month"
            [(date)]="args.duration.begin"
            class=""
          />
        </div>
      </div>
      <div class="filter-item">
        <div class="filter-item-title">结束时间：</div>
        <div class="filter-item-control">
          <input
            type="text"
            DateTimePicker
            [format]="'yyyy年MM月dd日 HH:mm'"
            [startView]="DateTimePickerView.month"
            [minView]="DateTimePickerView.month"
            [(date)]="args.duration.end"
            class=""
          />
        </div>
      </div>
      <div class="filter-item">
        <div class="filter-item-title">记录类型：</div>
        <div class="filter-item-control">
          <select [(ngModel)]="args.type">
            <option [ngValue]="undefined">全部</option>
            <option [ngValue]="MaterialRecordType.putin">入库记录</option>
            <option [ngValue]="MaterialRecordType.putout">出库记录</option>
          </select>
        </div>
      </div>
      <div class="filter-item">
        <div class="filter-item-title">
          <!-- <select [(ngModel)]="propertyName">
            <option [value]="'MaterialName'">物料名称</option>
            <option [value]="'ProfileName'">档案名称</option>
          </select> -->
          档案名称：
        </div>
        <div class="filter-item-control">
          <input type="text" [(ngModel)]="args.profileName" />
        </div>
      </div>

      <div class="filter-item">
        <div class="filter-item-title">物料名称：</div>
        <div class="filter-item-control">
          <input type="text" [(ngModel)]="args.materialName" />
        </div>
      </div>
    </div>
    <div class="garbage-profiles-material-record-content-filter">
      <div class="filter-item expand">
        <div class="filter-item-title">物料：</div>
        <div class="filter-item-control">
          <common-label-select
            [selectedNodes]="selectedNodes"
            [autoclose]="true"
            [height]="'400px'"
          >
            <howell-material-tree
              #tree
              [defaultIds]="defaultIds"
              (selectTreeNode)="onTreeNodeSelected($event)"
            ></howell-material-tree>
          </common-label-select>
        </div>
      </div>
      <div class="search">
        <button class="hw-blue-btn" (click)="onsearch()">
          <i class="howell-icon-search"></i> 搜索
        </button>
      </div>
    </div>
    <div class="garbage-profiles-material-record-content-table">
      <garbage-profiles-record-material-table
        [args]="args"
        [load]="load"
        (picture)="onpicture($event)"
        (details)="ondetails($event)"
      >
      </garbage-profiles-record-material-table>
    </div>
  </div>
</div>
