<div class="garbage-station-profile-manager">
  <div class="garbage-station-profile-manager-head">
    <div>
      <div class="hw-simple-title">厢房档案管理</div>
    </div>
    <div class="garbage-station-profile-manager-head-operation">
      <div class="operation">
        <button class="hw-blue-btn" (click)="onsetting()">
          <i class="howell-icon-settingoutline"></i> 设置
        </button>
        <button class="hw-green-btn" (click)="oncreate()">
          <i class="howell-icon-plus"></i> 添加
        </button>
        <button class="hw-cyan-btn" *ngIf="!!selectedId" (click)="onmodify()">
          <i class="howell-icon-modification"></i> 编辑
        </button>
      </div>
      <div class="filter">
        <div class="filter-item">
          <howell-simple-search [(value)]="args.Name"></howell-simple-search>
        </div>
      </div>
    </div>
  </div>
  <div class="garbage-station-profile-manager-content">
    <garbage-station-profile-table
      [load]="load"
      (selectedChange)="onselected($event)"
    >
    </garbage-station-profile-table>
  </div>
</div>

<app-window
  [Model]="window.details"
  [style]="window.details.style"
  *ngIf="window.details.show"
>
  <garbage-station-profile-details
    [formId]="selectedId"
    [state]="window.details.state"
  >
  </garbage-station-profile-details>
</app-window>
<app-window
  [Model]="window.setting"
  [style]="window.setting.style"
  *ngIf="window.setting.show"
>
  <garbage-station-profile-setting
    (ok)="onsettingok($event)"
    (cancel)="onwindowclose()"
  >
  </garbage-station-profile-setting>
</app-window>
