<div class="garbage-station-profile-manager">
  <div class="garbage-station-profile-manager-head">
    <div>
      <div class="hw-simple-title">{{ title }}</div>
    </div>
    <div class="garbage-station-profile-manager-head-operation">
      <div class="operation">
        <button class="hw-blue-btn" (click)="onrecord()">
          <i class="howell-icon-History"></i> 操作记录
        </button>
        <button class="hw-blue-btn" (click)="onexport()">
          <i class="howell-icon-export"></i> 导出
        </button>
        <button class="hw-blue-btn" (click)="onsetting()">
          <i class="howell-icon-settingoutline"></i> 设置
        </button>
        <button class="hw-green-btn" (click)="oncreate()">
          <i class="howell-icon-plus"></i> 添加
        </button>

        <!-- <button class="hw-red-btn" (click)="todelete()" *ngIf="!!selected">
          <i class="howell-icon-delete-bin"></i> 删除
        </button> -->
        <button class="hw-cyan-btn" *ngIf="!!selected" (click)="onmodify()">
          <i class="howell-icon-modification"></i> 编辑
        </button>
      </div>
      <div class="filter">
        <div class="filter-item">
          <div class="filter-item-title">{{ language["ProfileState"] }}：</div>
          <div class="filter-item-control">
            <select [(ngModel)]="args.enums['ProfileState']">
              <option [ngValue]="undefined">全部</option>
              <option
                *ngFor="let item of source.ProfileState"
                [ngValue]="item.Value"
              >
                {{ item.Name }}
              </option>
            </select>
          </div>
        </div>
        <div class="filter-item">
          <div class="filter-item-title">综合查询：</div>
          <div class="filter-item-control">
            <input type="text" [(ngModel)]="args.name" />
          </div>
        </div>

        <button class="hw-blue-btn" (click)="onsearch()">
          <i class="howell-icon-search"></i> 搜索
        </button>
        <button class="hw-blue-btn" (click)="tofilter()">
          <i class="mdi mdi-filter-outline"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="garbage-station-profile-manager-content">
    <garbage-station-profile-table
      [load]="load"
      [args]="args"
      [toexcel]="toexcel"
      (onexcel)="onexcel($event)"
      (selectedChange)="onselected($event)"
      (itemclick)="onitemclick($event)"
    >
    </garbage-station-profile-table>
  </div>
</div>

<!-- <app-window
  [Model]="window.details"
  [style]="window.details.style"
  *ngIf="window.details.show"
>
  <garbage-station-profile-details
    [formId]="selectedId"
    [state]="window.details.state"
  >
  </garbage-station-profile-details>
</app-window> -->

<app-window
  [Model]="window.record.modification.table"
  [style]="window.record.modification.table.style"
  *ngIf="window.record.modification.table.show"
>
  <garbage-station-profile-record
    (details)="window.record.modification.ondetails($event)"
  >
  </garbage-station-profile-record>
</app-window>
<app-window
  [Model]="window.record.modification.details"
  [style]="window.record.modification.details.style"
  *ngIf="window.record.modification.details.show"
>
  <garbage-station-profile-record-details
    [model]="window.record.modification.details.model"
  >
  </garbage-station-profile-record-details>
</app-window>

<!-- <toast-window *ngIf="window.details.show" (closeEvent)="closeAndUpdate()">
  <garbage-station-profile-details
    [formId]="selectedId"
    [state]="window.details.state"
    (closeDetails)="closeAndUpdate()"
  >
  </garbage-station-profile-details>
</toast-window> -->

<toast-window
  *ngIf="window.details.show"
  (closeEvent)="ondetailsclose()"
  style="z-index: 999"
>
  <garbage-profile-details-manager
    [formId]="window.details.selected"
    [formState]="window.details.form"
    [jumpState]="window.details.state"
    (closeDetails)="closeAndUpdate()"
    (updateDetails)="ondetailsupdate()"
    (recordEvent)="ondetailsputoutrecord($event)"
  >
  </garbage-profile-details-manager>
</toast-window>

<app-window
  [Model]="window.setting"
  [style]="window.setting.style"
  *ngIf="window.setting.show"
>
  <garbage-station-profile-setting
    (ok)="onsettingok($event)"
    (cancel)="onwindowclose()"
  >
  </garbage-station-profile-setting>
</app-window>
<app-window
  [Model]="window.picture"
  [style]="window.picture.style"
  *ngIf="window.picture.show"
>
  <howell-picture-control [id]="window.picture.urlId"> </howell-picture-control>
</app-window>

<app-window
  [Model]="window.confirm"
  [style]="window.confirm.style"
  *ngIf="window.confirm.show"
>
  <div class="confirm">
    <div class="hw-simple-title center">是否确认删除选中档案</div>
    <div class="center">
      <button class="hw-red-btn" (click)="ondelete()">确定</button>
      <button class="hw-blue-btn" (click)="onwindowclose()">取消</button>
    </div>
  </div>
</app-window>

<app-window
  [Model]="window.filter"
  [style]="window.filter.style"
  *ngIf="window.filter.show"
>
  <garbage-station-profile-filter
    [(args)]="args"
    (ok)="onfilter($event)"
  ></garbage-station-profile-filter>
</app-window>
<app-window>
  <garbage-profiles-material-record-details></garbage-profiles-material-record-details>
</app-window>
<app-window
  [Model]="window.putout"
  [style]="window.putout.style"
  *ngIf="window.putout.show"
>
  <garbage-profiles-material-putout
    (cancel)="window.putout.show = false"
    (ok)="onputoutok($event)"
  ></garbage-profiles-material-putout>
</app-window>

<app-window
  [Model]="window.partial"
  [style]="window.partial.style"
  *ngIf="window.partial.show"
>
  <garbage-station-profile-partial-data
    [model]="window.partial.model"
    [profileId]="window.partial.id"
    (putout)="toputout($event)"
  ></garbage-station-profile-partial-data>
</app-window>
