<div class="garbage-station-profile-manager">
  <div class="garbage-station-profile-manager-head">
    <div>
      <div class="hw-simple-title">厢房档案管理</div>
    </div>
    <div class="garbage-station-profile-manager-head-operation">
      <div class="operation">
        <button class="hw-green-btn" (click)="oncreate()">
          <i class="howell-icon-plus"></i> 添加
        </button>
      </div>
      <div class="filter">
        <div class="filter-item">
          <howell-simple-search [(value)]="args.Name"></howell-simple-search>
        </div>
      </div>
    </div>
  </div>
  <div class="garbage-station-profile-manager-content">
    <garbage-station-profile-table (check)="onselected($event)">
    </garbage-station-profile-table>
  </div>
</div>

<app-window
  [Model]="window.details"
  [style]="window.details.style"
  *ngIf="window.details.show"
>
  <garbage-station-profile-details
    [model]="selected"
    [state]="window.details.state"
  >
  </garbage-station-profile-details>
</app-window>
