.garbage-station-profile-setting {
  height: 100%;
  width: 100%;

  &-head {
    height: 50px;
  }

  &-body {
    height: calc(100% - 50px - 70px);
  }

  &-foot {
    display: flex;
    justify-content: center;
    height: 70px;
  }
}
