.profile-details {
  width: 600px;
  height: 550px;
}

.hw-form {
  .hw-form-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    .hw-form-group {
      flex-basis: 50%;

      .title {
        text-align: left;
      }
      .content {
        flex-basis: 95%;
      }
    }
  }
}
