<div class="profile-details vertical-layout">
  <div class="profile-details-header vertical-header">
    <div class="hw-simple-title">厢房档案</div>
  </div>
  <div class="profiles-details-body vertical-main">
    <ng-template [ngTemplateOutlet]="templateExpression"></ng-template>
  </div>
</div>

<ng-template #stepperTemp>
  <mat-stepper linear #stepper (selectionChange)="selectionChange($event)">
    <ng-container *ngFor="let label of labels; let i = index; let c = count">
      <mat-step [completed]="!!completedArr[i]">
        <ng-template matStepLabel>{{ label }} </ng-template>
        <ng-template
          [ngTemplateOutlet]="getTemplate(i)"
          [ngTemplateOutletContext]="{ index: i, $implicit: 'hello' }"
        ></ng-template>
      </mat-step>
    </ng-container>
  </mat-stepper>
</ng-template>

<ng-template #expansionTemp>
  <ng-container *ngFor="let label of labels; let i = index; let c = count">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> {{ label }} </mat-panel-title>
        <mat-panel-description>
          Currently I am {{ panelOpenState ? "open" : "closed" }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template
        [ngTemplateOutlet]="getTemplate(i)"
        [ngTemplateOutletContext]="{ index: i, $implicit: 'hello' }"
      ></ng-template>
    </mat-expansion-panel>
  </ng-container>
</ng-template>

<ng-template #step1 #step let-value let-index="index">
  <form [formGroup]="formArray.at(index)" class="hw-form">
    <div class="hw-form-item">
      <div class="hw-form-group">
        <div class="title">
          <span class="hw-form-label">
            {{ language["ProfileName"] }}
          </span>
          <span class="hw-form-icon">*</span>
        </div>
        <div class="content">
          <input type="text" formControlName="ProfileName" />
        </div>
      </div>
      <div class="hw-form-group">
        <div class="title">
          <span class="hw-form-label">
            {{ language["Province"] }}
          </span>
          <span class="hw-form-icon">*</span>
        </div>
        <div class="content">
          <select
            #province
            class="hw-form-select"
            formControlName="Province"
            (change)="changeDivision(province.value, DivisionLevel.Province)"
          >
            <option value="" disabled>请选择</option>
            <option
              [value]="province.Id"
              *ngFor="let province of divisionModel.Province"
            >
              {{ province.Name }}
            </option>
          </select>
        </div>
      </div>
      <div class="hw-form-group">
        <div class="title">
          <span class="hw-form-label">
            {{ language["City"] }}
          </span>
          <span class="hw-form-icon">*</span>
        </div>
        <div class="content">
          <select
            #city
            class="hw-form-select"
            formControlName="City"
            (change)="changeDivision(city.value, DivisionLevel.City)"
          >
            <option value="" disabled>请选择</option>
            <option [value]="city.Id" *ngFor="let city of divisionModel.City">
              {{ city.Name }}
            </option>
          </select>
        </div>
      </div>
      <div class="hw-form-group">
        <div class="title">
          <span class="hw-form-label">
            {{ language["County"] }}
          </span>
          <span class="hw-form-icon">*</span>
        </div>
        <div class="content">
          <select
            #county
            class="hw-form-select"
            formControlName="County"
            (change)="changeDivision(county.value, DivisionLevel.County)"
          >
            <option value="" disabled>请选择</option>
            <option
              [value]="county.Id"
              *ngFor="let county of divisionModel.County"
            >
              {{ county.Name }}
            </option>
          </select>
        </div>
      </div>
      <div class="hw-form-group">
        <div class="title">
          <span class="hw-form-label">
            {{ language["Street"] }}
          </span>
          <span class="hw-form-icon">*</span>
        </div>
        <div class="content">
          <select
            #street
            class="hw-form-select"
            formControlName="Street"
            (change)="changeDivision(street.value, DivisionLevel.Street)"
          >
            <option value="" disabled>请选择</option>
            <option
              [value]="street.Id"
              *ngFor="let street of divisionModel.Street"
            >
              {{ street.Name }}
            </option>
          </select>
        </div>
      </div>
      <div class="hw-form-group">
        <div class="title">
          <span class="hw-form-label">
            {{ language["Committee"] }}
          </span>
          <span class="hw-form-icon">*</span>
        </div>
        <div class="content">
          <select
            #committee
            class="hw-form-select"
            formControlName="Committee"
            (change)="changeDivision(committee.value, DivisionLevel.Committee)"
          >
            <option value="" disabled>请选择</option>
            <option
              [value]="committee.Id"
              *ngFor="let committee of divisionModel.Committee"
            >
              {{ committee.Name }}
            </option>
          </select>
        </div>
      </div>
      <div class="hw-form-group">
        <div class="title">
          <span class="hw-form-label">
            {{ language["Address"] }}
          </span>
          <span class="hw-form-icon">*</span>
        </div>
        <div class="content">
          <input type="text" formControlName="Address" />
        </div>
      </div>
      <div class="hw-form-group">
        <div class="title">
          <span class="hw-form-label">
            {{ language["Contact"] }}
          </span>
        </div>
        <div class="content">
          <input type="text" formControlName="Contact" />
        </div>
      </div>
      <div class="hw-form-group">
        <div class="title">
          <span class="hw-form-label">
            {{ language["ContactPhoneNo"] }}
          </span>
        </div>
        <div class="content">
          <input type="text" formControlName="ContactPhoneNo" />
        </div>
      </div>
    </div>
    <div class="hw-middle-btn-group">
      <button
        class="hw-green-btn"
        type="button"
        (click)="createInfo()"
        *ngIf="state == FormState.add"
      >
        创建
      </button>
      <button class="hw-blue-btn" type="button" (click)="nextStep(index)">
        下一步
      </button>
    </div>
  </form>
</ng-template>
<ng-template #step2 #step let-index="index">
  <form [formGroup]="formArray.at(index)" class="hw-form">
    <div class="hw-form-item">
      <div class="hw-form-group">
        <div class="title">
          <span class="hw-form-label">
            {{ language["GarbageStationName"] }}
          </span>
          <span class="hw-form-icon">*</span>
        </div>
        <div class="content">
          <input type="text" formControlName="GarbageStationName" />
        </div>
      </div>
      <div class="hw-form-group">
        <div class="title">
          <span class="hw-form-label">
            {{ language["CommunityName"] }}
          </span>
          <span class="hw-form-icon">*</span>
        </div>
        <div class="content">
          <input type="text" formControlName="CommunityName" />
        </div>
      </div>
      <div class="hw-form-group">
        <div class="title">
          <span class="hw-form-label">
            {{ language["StrongCurrentWire"] }}
          </span>
          <span class="hw-form-icon">*</span>
        </div>
        <div class="content">
          <input type="text" formControlName="StrongCurrentWire" />
        </div>
      </div>
      <div class="hw-form-group">
        <div class="title">
          <span class="hw-form-label">
            {{ language["StrongCurrentWireMode"] }}
          </span>
          <span class="hw-form-icon">*</span>
        </div>
        <div class="content">
          <input type="text" formControlName="StrongCurrentWireMode" />
        </div>
      </div>
      <div class="hw-form-group">
        <div class="title">
          <span class="hw-form-label">
            {{ language["StrongCurrentWireLength"] }}
          </span>
          <span class="hw-form-icon">*</span>
        </div>
        <div class="content">
          <input type="text" formControlName="StrongCurrentWireLength" />
        </div>
      </div>
    </div>
    <div class="hw-middle-btn-group">
      <button class="hw-blue-btn" type="button">上一步</button>
      <button class="hw-green-btn" type="button">保存</button>
      <button class="hw-blue-btn" type="button">下一步</button>
    </div>
  </form>
</ng-template>

<ng-template #step3 #step let-index="index">
  <form [formGroup]="formArray.at(index)" class="hw-form">
    <div class="hw-form-item">
      <div class="hw-form-group">
        <div class="title">
          <span class="hw-form-label">
            {{ language["ConstructionContact"] }}
          </span>
          <span class="hw-form-icon">*</span>
        </div>
        <div class="content">
          <input type="text" formControlName="ConstructionContact" />
        </div>
      </div>
      <div class="hw-form-group">
        <div class="title">
          <span class="hw-form-label">
            {{ language["ConstructionContactPhoneNo"] }}
          </span>
          <span class="hw-form-icon">*</span>
        </div>
        <div class="content">
          <input type="text" formControlName="ConstructionContactPhoneNo" />
        </div>
      </div>
      <div class="hw-form-group">
        <div class="title">
          <span class="hw-form-label">
            {{ language["ConstructionDate"] }}
          </span>
          <span class="hw-form-icon">*</span>
        </div>
        <div class="content">
          <input type="text" formControlName="ConstructionDate" />
        </div>
      </div>
    </div>
    <div class="hw-middle-btn-group">
      <button class="hw-blue-btn" type="button">上一步</button>
      <button class="hw-green-btn" type="button">保存</button>
      <button class="hw-blue-btn" type="button">下一步</button>
    </div>
  </form>
</ng-template>
<ng-template #step4 #step let-index="index">
  <form [formGroup]="formArray.at(index)" class="hw-form">
    <div class="hw-form-item">
      <div class="hw-form-group">
        <div class="title">
          <span class="hw-form-label">
            {{ language["GPSPoint"] }}
          </span>
          <span class="hw-form-icon">*</span>
        </div>
        <div class="content">
          <input type="text" formControlName="GPSPoint" />
        </div>
      </div>
      <div class="hw-form-group">
        <div class="title">
          <span class="hw-form-label">
            {{ language["TimeToDump"] }}
          </span>
          <span class="hw-form-icon">*</span>
        </div>
        <div class="content">
          <input type="text" formControlName="TimeToDump" />
        </div>
      </div>
      <div class="hw-form-group">
        <div class="title">
          <span class="hw-form-label">
            {{ language["IMEI"] }}
          </span>
          <span class="hw-form-icon">*</span>
        </div>
        <div class="content">
          <input type="text" formControlName="IMEI" />
        </div>
      </div>
      <div class="hw-form-group">
        <div class="title">
          <span class="hw-form-label">
            {{ language["NB"] }}
          </span>
          <span class="hw-form-icon">*</span>
        </div>
        <div class="content">
          <input type="text" formControlName="NB" />
        </div>
      </div>
    </div>
    <div class="hw-middle-btn-group">
      <button class="hw-blue-btn" type="button">上一步</button>
      <button class="hw-green-btn" type="button">保存</button>
      <button class="hw-blue-btn" type="button">完成</button>
    </div>
  </form>
</ng-template>
