.profile-details {
  width: 700px;
  height: auto;
}

.hw-form {
  .hw-form-group {
    flex-basis: 40%;
    margin: 0 5px 10px;
    flex-grow: 0;
    .title {
      text-align: left;
    }
    .content {
      flex-basis: 100%;
    }
  }
}

.hw-middle-btn-group {
  width: 100%;
}
