<div class="garbage-station-profile-details">
  <div class="hw-simple-title">厢房档案</div>
  <form [formGroup]="formGroup" class="garbage-station-profile-details-content">
    <mat-stepper formArrayName="formArray" linear>
      <mat-step
        class="garbage-station-profile-details-content-list"
        *ngFor="let control of formArray.controls; let i = index; let c = count"
        [formGroupName]="i"
      >
        <ng-container
          *ngFor="let item of control.controls | keyvalue : customCompare"
        >
          <div class="garbage-station-profile-details-content-list-item">
            <div
              class="garbage-station-profile-details-content-list-item-title"
            >
              {{ source.language[item.key] | async }}
            </div>
            <div
              class="garbage-station-profile-details-content-list-item-value"
            >
              <input type="text" [formControlName]="item.key" />
            </div>
          </div>
        </ng-container>
        <div>
          <button
            class="hw-green-btn"
            type="button"
            (click)="createModel()"
            *ngIf="i == 0 && state == FormState.add"
          >
            创建
          </button>
          <button
            class="hw-green-btn"
            matStepperPrevious
            type="button"
            *ngIf="i != 0"
          >
            上一步
          </button>
          <button
            class="hw-green-btn"
            matStepperNext
            type="button"
            *ngIf="i != c - 1"
          >
            下一步
          </button>
          <button class="hw-green-btn" type="button" *ngIf="i == c - 1">
            完成
          </button>
        </div>
      </mat-step>
    </mat-stepper>
  </form>
</div>
